<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
<!--if you are not doing fragments you need this:-->
<!--<link href="/css/main.css" rel="stylesheet">-->
<!--or a style tag as shown in https://bit.ly/3ujacGO-->
<h2>Add a new StarShip</h2>
<form action="#" th:action="@{/starships}" th:object="${starShip}" method="POST">
    <div>
        <label th:for="name">StarShip Name:</label>
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        <label th:for="description">Description:</label>
        <input type="text" th:field="*{description}" />
    </div>
    <div>
        <label th:for="fuelCapacity">Fuel Capacity:</label>
        <input type="number" th:field="*{fuelCapacity}" />
    </div>

    <div>
        <input type="submit" value="Add new StarShip"/>
    </div>
</form>
</body>
</html>